ion-content {
  --background: url(https://all-images.net/media/posts/27/gallery/iphone-wallpaper-4k-playstation-06.jpg)
    0 0/100% 100% no-repeat;
}
ion-title {
  justify-self: center;
}
.Card1 {
  color: #4169e1;
}
.Card2 {
  color: #dc143c;
}
.Card3 {
  color: #da70d6;
}
