ion-card {
  --background: #000;
  --color: #9370db;
}

ion-card-title {
  --color: #8a2be2;
}

ion-card-subtitle {
  --color: #ceb3fa;
}
ion-col {
  size: 128px;
  // background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}
.h1 {
  text-align: center;
  color: #00bfff;
}
.h2 {
  text-align: center;
  color: #ff8c00;
}
.h3 {
  text-align: center;
  color: #696969;
}

.grid1 {
  color: #8a2be2;
}
