<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Show espacial </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="conteudo">
  <ion-card>
    <img
      alt="Imagem do espaço"
      src="https://th.bing.com/th/id/R.2e7e50600aafc6ccec71fa683db46fce?rik=dY1t7QAY%2bZOzew&pid=ImgRaw&r=0"
    />
    <ion-card-header>
      <ion-card-title>O Universo</ion-card-title>
      <ion-card-subtitle>O que é essa imensidão?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O Universo é tudo o que existe fisicamente, a soma do espaço e do tempo e
      as mais variadas formas de matéria, como planetas, estrelas, galáxias e os
      componentes do espaço intergaláctico.
    </ion-card-content>
  </ion-card>

  <!-- Conteúdo -->

  <h1 class="h1">Planetas</h1>

  <ion-grid class="grid1">
    <ion-row>
      <ion-col
        ><img
          alt="Imagem do espaço"
          src="https://tse3.mm.bing.net/th/id/OIP.G0j8bwdf7Dw4aPEdXrHbSwHaEK?rs=1&pid=ImgDetMain"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>Orbitam uma estrela</ion-col>
      <ion-col>Ter gravidade própria</ion-col>
      <ion-col>Ser o objeto dominante em sua órbita</ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="h2">Estrelas</h1>

  <ion-grid class="grid2">
    <ion-row>
      <ion-col
        ><img
          alt="Imagem do espaço"
          src="https://tse4.mm.bing.net/th/id/OIP.GF3ZNunHejz_KLfV7OOnMwHaEp?rs=1&pid=ImgDetMain"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>Emitem luz própria</ion-col>
      <ion-col>Esferas massivas formadas de gazes</ion-col>
      <ion-col>Produz reações nucleares de fusão</ion-col>
    </ion-row>
  </ion-grid>

  <h1 class="h3">Buracos negros</h1>

  <ion-grid class="grid2">
    <ion-row>
      <ion-col
        ><img
          alt="Imagem do espaço"
          src="https://wallpaperaccess.com/full/13394.png"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>Campo Gravitacional massivo</ion-col>
      <ion-col>Sua gravidade é tão forte que até a luz é afetada</ion-col>
      <ion-col>Maior força da natureza</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
