<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> O legal do Xbox </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://t.ctcdn.com.br/8SWw9YJpIkSe6qARCMc7eP0WTWs=/640x360/smart/i460193.jpeg"
    />
  </ion-card>

  <ion-card class="gamepass">
    <ion-card-header>
      <ion-card-title>Xbox Game pass</ion-card-title>
      <ion-card-subtitle>O diferencial do Xbox</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Xbox Game Pass é um serviço de assinatura de jogos eletrônicos da
      Microsoft Gaming, para uso com seu console Xbox One, Xbox Series X/S e
      Windows e em nuvem.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://i.ytimg.com/vi/-rUEWRG8hp8/maxresdefault.jpg"
    />
  </ion-card>

  <p>
    Ao assinar o Game Pass o assinate adiquire uma lista enorme de jogos e de
    ótima qualidade e na minha opinião é isso que difere o Xbox dos outros
    consoles.
  </p>
</ion-content>
