ion-content {
  --background: url(https://e1.pxfuel.com/desktop-wallpaper/752/641/desktop-wallpaper-xbox-one-in-profile-color-options-xbox-one.jpg)
    0 0/100% 100% no-repeat;
}
ion-title {
  justify-self: center;
}
.gamepass {
  color: #228b22;
  background-color: black;
}
